{% if inlines %}
<section class="sortable-container">

    {% if title %}
    <header>
        <h3>{{ title }}</h3>
    </header>
    {% endif %}

    <div class="sortable{% if can_append %} can-append{% endif %}"
        data-sortable
        data-row=".sort-row"
        data-handle=".fa-bars"
        data-position='[name*="-order"]'

        {% if has_delete %}
            data-delete-handle=".fa-times"
            data-delete-flag=".delete input">
        {% endif %}

        {% if can_append %}
            data-template=".is-template"
            data-template-button=".can-append-template">
        {% endif %}

        {% for formset in inlines %}
            {{ formset.management_form }}
            {{ formset.non_form_errors }}

            {% for form in formset %}
            <div class="sort-row rule{% if forloop.last %} is-template{% endif %}">
                <i class="fa fa-bars" aria-hidden="true"></i>
                {% include "arctic/partials/form_fields.html" with form=form style="horizontal" %}
            </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% if can_append %}
        <a class="button can-append-template">Add</a>
    {% endif %}

</section>
{% endif %}