.rules {
    border-radius: $global-radius;

    header {
        text-align: right;
        padding: $marginLarge $marginMedium;

        h3 {
            float: left;
        }

        .dropdown {
            display: inline-block;
            text-align: left;
        }

        .button {
            margin-bottom: 0;
        }
    }
}

.rules {

    // layout
    .fields {
        padding-bottom: .875rem;
    }

    .fields .field {
        display: inline-block;
        margin-top: .875rem;
    }

    // rule label
    .label {
        display: block;
        margin-top: .875rem;
        width: auto;
        padding: .75rem .5rem;
        border-radius: $global-radius;
        text-align: center;
        margin-right: $marginMedium;
    }


    // all fields
    .field {

        label {
            display: none;
        }
    }

}

.sortable {

    .fields .field {
        display: inline-block;
        margin-right: $marginSmall * 1.25;
    }

    .field input:not('checkbox'):not('radio'),
    .field select {
        width: 100%;
    }

    .field:not(.delete) {
        width: $rules-field-large-width;
    }

    .field.site,
    .field.seperator {
        width: $rules-field-small-width;
    }


    // specific fields
    .field.position,
    .field.order,
    .field.delete {
        display: none;
    }
}