.sortable {
    display: table;
    margin-bottom: 1rem;
    width: 100%;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $rules-border-color;

    .sort-row {
        display: table-row;
        margin: 0;

        > * {
            display: table-cell;
            border-top: 1px solid $rules-border-color;
        }
    }
}


.sortable .sort-row {

    &:hover {
        background-color: $greyLightest;
    }

    &.removed {
        display: none;
    }

    // drag and delete icon
    .fa {
        margin: .8rem 1rem;
        padding: .75rem .75rem;
        width: 40px;
        color: $greyMedium;
        vertical-align: middle;
    }

    .fa-times:hover {
        color: $red;
        cursor: pointer;
    }

    // field sizing
    input,
    select {
        margin: 0;
    }
}

// grabbed elemen
.sortable-ghost {
    opacity: .5;
}


.sortable.has-append {

    .is-template {
        display: none;
    }
}

// specific
.product-features {

    .fields {
        display: table-cell;
    }

    .field.options {
        min-width: auto;
    }
}